body 
{
   background: url(imagen.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   color: white; 
   padding-top: 11%;
   font-family: sans-serif;
}
